.ligne {
    display: table-row;
    width: 300px;
    
}

.cell {
display: table-cell;
width: 100px;
height: 100px;
border: 2px solid black;

}

.blue{
color: deepskyblue;
font-size: 80px;
text-align: center;
}

.rose{
    color: hotpink;
    font-size: 80px;
    text-align: center;
}