table{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 100px;
}
td{
    border: 1px solid black;
    text-align: center;
   
}

.blue{
    background-color: blue;
}





